.font {
  color: #E7F6F2;
  font-size: 12px;
}

.hidden {
  display: none;
}

.movies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}