img {
    height: 200px;
    width: 150px;
}

.movie-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 20%;
    margin: 5% 0% 0% 3%;
    width: 20%;
}

.movie-container:hover {
    cursor: pointer;
    transform: scale(1.05);
}