img {
    height: 300px;
    width: 200px;
}

.movie-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 35%;
    margin: 7% 6% 5% 9%;
    width: 10%;
}

.movie-container:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.title-container {
    height: 8vh;
    width: 15vw;
}

.font {
    color: #E7F6F2;
    font-size: 16px;
  }
