.single-container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
}

img {
  object-fit: fill;
  object-position: center;
}

/* img {
  border-radius: 10%;
  height: 400px;
  width: 300px;
}

image-container {
  margin: 0% 0% 20% 0%;
} */

.details-container {
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 70vh;
  margin: 5% 2% 0% 2%;
  width: 20vw;
}

.movie-title {
  color: #E7F6F2;
  font-size: 50px;
  margin: 3% 3% 3% 3%;
}

.font {
  color: #E7F6F2;
  font-size: 16px;
  margin: 6% 3% 0% 3%;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  border: none;
  border-radius: 5%;
  height: 3vh;
  margin: 5% 3% 0% 3%;
  width: 8vw;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.03);
}